/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
/* Utilities */
.flex {
    display: flex;
}
.white {
    color: #fff;
}
.mt {
    margin-top: 20px;
}
.mb {
    margin-bottom: 20px;
}
.mr {
    margin-right: 10px;
}
.ml {
    margin-left: 40px;
}
.tu {
    text-transform: uppercase;
}
.mrb {
    margin-right: 30px;
}
.orange {
    color:  #ffab0b;
}
.td {
    text-decoration: none;
}
.mll {
    margin-left: 20px;
}
.fs {
    font-size: 50px;
}
.dark {
    color:  #130f09;
}

.container-small {
    width: 1170px;
    margin: 0 auto;
}
/* header */
header {
    background-color: #ffab0b;
}
.header-top {
    justify-content: space-between;
    font-size: 10px;
}
.contact ul li,
.social ul li {
    list-style-type: none;
    margin-right: 12px;
    padding: 12px 0;
    font-size: 12px;
}
.contact .ore {
    padding: 2px 8px;
    font-size: 10px;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 12px;
    border-radius: 3px;
}
.new,
.adApply {
    padding: 3px 6px;
    background-color: #0ebcf2;
    border-radius: 5px;
    font-size: 10px;
    margin-left: 3px;
}
.new {
    position: absolute;
}
/* barra-navigazione */
.barra-navigazione {
    padding: 20px 0;
    justify-content: space-between;

}
.barra-navigazione .logo img {
    width: 180px;
}
.link ul li {
    padding: 20px 8px;
    list-style-type: none;
    font-size: 14px;
    margin-right: 30px;

}
.link ul li a {
    text-decoration: none;
    color: #343343;
    text-transform: uppercase;
}
.link ul li a:hover {
    color:  #ffab0b;
}

/* main */
.first-section {
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background-image: url(../img/home_main_slider_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -220px;
}
.first-section h1 {
    font-size: 50px;
}
.first-section h3 {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;

}
.buttons .find {
    margin-right: 10px;
    background-color: #ffab0b;
    border-color: #ffab0b;
}
.buttons .apply {
    background-color: #0ebcf2;
    border-color: #0ebcf2;
}
.buttons .find,
.buttons .apply {
    padding: 5px 20px;
    font-size: 10px;
    text-transform: uppercase;
}

/* second-section */
.second-section {
    text-align: center;
    margin-bottom: 100px;
    position: relative;
}
.range .logo-small {
    /* margin-top: 40px; */
    margin-bottom: 20px;
}
.range {
    padding-top: 50px;
    margin-bottom: 100px;
}
.range h2 {
    margin-bottom: 15px;
}
.range p {
    font-size: 16px;
    color: #7b7e85;
}
.second-section-bottom {
    position: relative;
    max-width: 80%;
}
.second-section-bottom:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 2px;
    background-color: #ffab0b;
    left: 400px;
    top: -70px;
}
.why {
    text-align: left;
}
.why h3 {
    text-transform: uppercase;
}
.why p {
    max-width: 100%;
    margin-top: 20px;
    line-height: 30px;
    color: #7b7e85;
    font-size: 14px;
}
.vimeo {
    margin-left: 50px;
}
.second-section::after{
    content: '';
    position: absolute;
    top: 708px;
    width: 60%;
    height: 75px;
    background-color: #fff;
    left: -97px;
    transform: rotate(6deg);
}
/* third-section */
.third-section::before {
    content: "";
    position: absolute;
    top: 319%;
    right: 0%;
    width: 50%;
    height: 125px;
    background-color: #fff;
    transform: rotate(174deg);
}
.third-section {
    line-height: 30px;
    padding: 150px 0 100px 0;
    background-color: #e6e6e6;
}
.world {
    max-width: 49%;
}
.world p {
    color: #7b7e85;
    font-size: 14px;
}
.reference {
    position: relative;
}
.reference i {
    position: absolute;
    top: 6px;
    color: #ffab0b;
}
.reference span {
    font-weight: bold;
    margin-left: 30px;
    margin-right: 5px;
}
.values ul li {
    list-style-type: none;
    padding: 3px 300px 3px 15px;
    background-color: #fff;
    color:  #ffab0b;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;
}
/* fourth-section */
.fourth-section {
    height: 500px;
}
.fourth-section .first-image,
.fourth-section .second-image,
.fourth-section .third-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.fourth-section .first-image {
    background-image: url(../img/home_courses_section_bg.jpg);

}
.fourth-section .first-image h5:before,
.fourth-section .second-image h5:before,
.fourth-section .third-image h5:before {
    content: '';
    position: absolute;
    width: 90px;
    height: 1px;
    background-color: #ffab0b;
    left: 210px;
    top: 50%;
}

.fourth-section .second-image {
    background-image: url(../img/home_events_section_bg.jpg);
}
.fourth-section .third-image {
    background-image: url(../img/home_latest_news_section_bg.jpg);
}
/* fifth-section */
.fifth-section {
    height: 800px;
    text-align: center;
    position: relative;
    background-color: #e2dacb;
}
.blocchi {
    height: 400px;
    justify-content: space-around;
}
.fifth-section .blocchi:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 2px;
    background-color: #ffab0b;
    left: 680px;
    top: 280px;
}
.first-block,
.second-block,
.third-block {
    background-color: #fff;
}
.first-block .image,
.second-block .image,
.third-block .image {

    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-block .image {
    background-image: url(../img/news_single_post_header_1-200x111.jpg);
}
.second-block .image {
    background-image: url(../img/news_single_post_header_2-200x111.jpg);
}
.third-block .image {
    background-image: url(../img/news_single_post_header_3-200x111.jpg);
}
.image {
    background-color: #fff;
}
.text {
    font-size: 14px;
}
.read {
   justify-content: space-between;
   font-size: 12px;
   margin: 20px;
}
/* sixth section */
.sixth-section {
    background-color: #2e3341;
    padding: 60px 0 90px 0;
    text-align: center;
    line-height: 30px;
}
.sixth-section h4 {
    color: #444b5b;
    font-size: 12px;
}
.sixth-section .addresses {
    justify-content: center;
}
.name,
.email,
.telephone {
    padding: 2px 160px 2px 8px;
    margin-right: 10px;
    font-size: 12px;
    background-color: #444b5b;
}
.apply {
    background-color: #ffab0b;
    border-color: #ffab0b;
    padding: 4px 40px;
}
.addresses {
    margin-top: 40px;
}
/* footer */
footer {
    padding: 60px 0;
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    background-image: url(../img/university_ft_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    border-bottom: 1px solid  #e6e6e6;

}
footer h4 {
    color:  #2e3341;
    line-height: 30px;
}
footer span,
footer i,
footer a, 
.footer-bottom
.web ul li a {
    color: #7b7e85;

}
footer ul li {
    list-style-type: none;
}
/* info */
.info ul li,
.recent-post ul li {
    margin-top: 15px;
}
.address {
    flex-direction: column;
}
/* recent-post */
.recent-post ul li,
.upcoming,
.politics {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 15px 0;
}
/* poker-info */
.courses ul li a,
.admissions ul li a,
.resources ul li a,
.quicklinks ul li a {
    text-decoration: none;
    line-height: 20px;
}
.events p {
    color: #444b5b;
    font-size: 12px;
    font-weight: bold;
}
/* footer-bottom */
.footer-bottom {
    font-size: 8px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom ul li{
    list-style-type: none;
    margin-left: 20px;
}
