<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML/VueJS classe 19</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
  <div id="app">
      <!-- header -->
    <header>
        <!-- header-top -->
        <div class="header-top container-small flex white">
            <div class="contact">
                <ul class="flex">
                    <li>
                        <i class="fas fa-phone"></i>
                    </li>
                    <li>
                        <span>1.800.567.8910</span>
                    </li>
                    <li>
                        <div class="ore">
                            24hrs
                        </div>
                    </li>
                    <li class="ml">
                        <i class="fas fa-envelope"></i>
                    </li>
                    <li>
                        Contact Us
                    </li>
                    <li>
                        <i class="fas fa-graduation-cap"></i>
                    </li>
                    <li>
                        Alumn
                    </li>
                    <li>
                        <i class="fas fa-school"></i>
                    </li>
                    <li>
                        Campus
                    </li>
                </ul>
            </div>
            <div class="social">
                <ul class="flex">
                    <li v-for="(social, i) in socialList">
                        <a class="white" href="#">
                            <i :class="`fab ${social.icon} `"></i>
                        </a>
                    </li>
                    

                </ul>
            </div>
        </div>
        
    </header>
        <!-- barra-navigazione -->
        <div class="barra-navigazione container-small flex">
            <div class="logo">
                <img src="./img/university_logo.png" alt="">
            </div>
            <div class="link">
                <ul class="flex">
                    <li v-for='(link, i) in linkList'>
                        <a href="">{{link.item}}</a>
                    </li>
                </ul>
            </div>
        </div>
    <!-- main -->
    <main>
        <!-- first section -->
        <section class="first-section flex">
           <div class="first-section-text">
               <h1 class="white">Inspiring Tomorrows Leaders</h1>
               <h3 class="white">The Future Belongs To Those Who See Possibilities Today</h3>
               <div class="buttons">
                <button class="find white">Find a Course</button>
                <button class="apply white"> Apply Now</button>
               </div>
               
           </div> 
        </section>
        <!-- second-section -->
        <section class="second-section container-small">
            <div class="range">
                <div class="logo-small">
                    <img src="./img/page-logo-1.png" alt="">
                </div>
                <h2>Inspired by Excellence & Innovation</h2>
                <p>We offer a wide range of high quality of teaching and extra-curricular activity</p>
            </div>
            <div class="second-section-bottom container-small flex">
                <div class="why">
                    <h3>Why choose Avada University?</h3>
                    <p> We offer a range of training packages in a range of subject areas and can offer blended learning opportunities to best meet your needs. If sitting in a room with a trainer and having the opportunity for discussion with other learners sounds good to you then we can offer this. If you prefer to study in your own time and at your own speed then one of our world class facilities.
                    </p>
                    <p>
                        If you prefer to study in your own time at your own speed then one of our e-learning packages may be right up your street. There is a third option, witch is you like the sound of both but perhaps can't attend all training sessions, this is when blended learning comes into its own. 
                    </p>
                </div>
                <div class="vimeo">
                    <img src="./img/fss-demo-main-400x300.jpg" alt="">
                </div>
            </div>
        </section>
        <!-- third-section -->
        <section class="third-section">
            <div class="terza container-small flex">
                <div class="world">
                    <h3 class="tu mb">World Class Facilities</h3>
                    <p class="mb">Avada University is devoted to excellence in teaching, learning, and research, and developing leaders in many disciplines who make a different globally.</p>
                    <div class="reference flex">
                        <i class="fas fa-globe"></i>
                        <span>International focus </span>
                        <p> - our students come from across the world</p>
                    </div>
                    <div class="reference flex mt">
                        <i class="fas fa-graduation-cap"></i>
                        <span>Residential courses </span>
                        <p> - we encurage learning and growth</p>
                    </div>
                    <div class="reference flex">
                        <i class="far fa-id-badge"></i>
                        <span>People not profits </span>
                        <p> - educations is a right not a privilege</p>
                    </div>
                    <p class="mt">
                        If you prefer to study in your own time at your own speed then one of our e-learning packages may be right up your street.
                    </p>
                </div>
                <div class="values">
                    <h3 class="tu mb">Our Values</h3>
                    <ul>
                        <li>
                            <i class="fas fa-plus mr"></i>
                            <span class="tu">Our Mission</span>
                        </li>
                        <li>
                            <i class="fas fa-plus mr"></i>
                            <span class="tu">Our Philosophy</span>
                        </li>
                        <li>
                            <i class="fas fa-plus mr"></i>
                            <span class="tu">Our Committment</span>
                        </li>
                        <li>
                            <i class="fas fa-plus mr"></i>
                            <span class="tu">Our Promise</span>
                        </li>
                        <li>
                            <i class="fas fa-plus mr"></i>
                            <span class="tu">Our Values</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- fourth-section -->
        <section class="fourth-section flex">
            <div class="first-image">
                <h3 class="white tu mb">Courses</h3>
                <h5 class="white mt">View more</h5>
            </div>
            <div class="second-image">
                <h3 class="white tu mb">Events</h3>
                <h5 class="white mt">View more</h5>
            </div>
            <div class="third-image">
                <h3 class="white tu mb">Latest News</h3>
                <h5 class="white mt">View more</h5>
            </div>
        </section>
        <!-- fifth section -->
        <section class="fifth-section">
            <div class="range">
                <div class="logo-small">
                    <img src="./img/page-logo-1.png" alt="">
                </div>
                <h2>Todays University News</h2>
                <p>Covering topics from classes to politics and student organizations events</p>
            </div>
            <div class="blocchi flex container-small">
                <div class="first-block mrb">
                    <div class="image">

                    </div>
                    <h3 class="mt orange">What do succesful grads think you should study?</h3>
                    <div class="text mt">
                        by <a class="orange" href="#">admin</a>| March 16th,2016
                    </div>
                    <div class="read flex">
                        <div class="orange mt">
                            Read More <i class="fas fa-angle-right"></i>
                        </div>
                        <div>
                            <i class="fas fa-book-reader orange mt"> 0</i>
                        </div>
                    </div>
                </div>
                <div class="second-block mrb">
                    <div class="image">

                    </div>
                    <h3 class="mt orange">What do succesful grads think you should study?</h3>
                    <div class="text mt">
                        by <a class="orange" href="#">admin</a>| March 16th,2016
                    </div>
                    <div class="read flex">
                        <div class="orange mt">
                            Read More <i class="fas fa-angle-right"></i>
                        </div>
                        <div>
                            <i class="fas fa-book-reader orange mt"> 0</i>
                        </div>
                    </div>
                </div>
                <div class="third-block">
                    <div class="image">

                    </div>
                    <h3 class="mt orange">What do succesful grads think you should study?</h3>
                    <div class="text mt">
                        by <a class="orange" href="#">admin</a>| March 16th,2016
                    </div>
                    <div class="read flex">
                        <div class="orange mt">
                            Read More <i class="fas fa-angle-right"></i>
                        </div>
                        <div>
                            <i class="fas fa-book-reader orange mt"> 0</i>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
        <!-- sixth section -->
        <section class="sixth-section">
            <div class="container-small">
                <h2 class="white">Joing over <span class="orange">500,000 Students</span> Enjoying Avada Education now</h2>
                <h4>Become Part Of Avada University To Fourther Your Career</h4>
                <div class="addresses flex">
                    <div class="name white">Name</div>
                    <div class="email white">Email</div>
                    <div class="telephone white">Telephone</div>
                    <button class="apply white"> Apply Now</button>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer>

    </footer>
  </div> <!-- chiusura app -->
    

    
    <!-- inclusione js -->
    <script src="./js/main.js"></script>
</body>
</html>