<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML/VueJS classe 19</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
  <div id="app">
      <!-- header -->
    <header>
        <!-- header-top -->
        <div class="header-top container-small flex white">
            <div class="contact">
                <ul class="flex">
                    <li>
                        <a href="#" class="white">
                            <i class="fas fa-phone"></i>
                        </a>
                    </li>
                    <li>
                        <a class="td" href="">
                            <span class="white">1.800.567.8910</span>
                        </a>
                    </li>
                    <li>
                        <div class="ore">
                            24hrs
                        </div>
                    </li>
                    <li class="ml">
                        <a href="#" class="white">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="white td">Contact Us</a>
                    </li>
                    <li>
                        <a href="#" class="white">
                            <i class="fas fa-graduation-cap"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="white td">Alumn</a>
                    </li>
                    <li>
                        <a href="#" class="white">
                            <i class="fas fa-university"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="white td">Campus</a>
                    </li>
                </ul>
            </div>
            <div class="social">
                <ul class="flex">
                    <li v-for="(social, i) in socialList">
                        <a class="white" href="#">
                            <i :class="`fab ${social.icon} `"></i>   
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </header>
        <!-- barra-navigazione -->
        <div class="barra-navigazione container-small flex">
            <div class="logo">
                <img src="./img/university_logo.png" alt="">
            </div>
            <div class="link">
                <ul class="flex">
                    <li v-for='(link, i) in linkList'>
                        <a href="">{{link.item}}</a>
                        <span class="new white tu" v-if="link.new ? 'new' : '' ">new</span>
                        <span class="adApply white tu" v-if="link.adApply ? 'adApply' : '' ">apply</span>
                    </li>
                </ul>
            </div>
        </div>
    <!-- main -->
    <main>
        <!-- first section -->
        <section class="first-section flex">
           <div class="first-section-text">
               <h1 class="white">Inspiring Tomorrows Leaders</h1>
               <h3 class="white">The Future Belongs To Those Who See Possibilities Today</h3>
               <div class="buttons">
                <button class="find white fw">Find a Course</button>
                <button class="apply white fw"> Apply Now</button>
               </div>
               
           </div> 
        </section>
        <!-- second-section -->
        <section class="second-section container-small">
            <div class="range">
                <div class="logo-small">
                    <img src="./img/page-logo-1.png" alt="">
                </div>
                <h2>Inspired by Excellence & Innovation</h2>
                <p>We offer a wide range of high quality of teaching and extra-curricular activity</p>
            </div>
            <div class="second-section-bottom container-small flex">
                <div class="why">
                    <h3 class="tu">Why choose Avada University?</h3>
                    <p> We offer a range of training packages in a range of subject areas and can offer blended learning opportunities to best meet your needs. If sitting in a room with a trainer and having the opportunity for discussion with other learners sounds good to you then we can offer this. If you prefer to study in your own time and at your own speed then one of our world class facilities.
                    </p>
                    <p>
                        If you prefer to study in your own time at your own speed then one of our e-learning packages may be right up your street. There is a third option, witch is you like the sound of both but perhaps can't attend all training sessions, this is blended learning comes into its own. 
                    </p>
                </div>
                <div class="vimeo">
                    <img src="./img/fss-demo-main-400x300.jpg" alt="">
                </div>
            </div>
        </section>
        <!-- third-section -->
        <section class="third-section">
            <div class="terza container-small flex">
                <div class="world">
                    <h3 class="tu mb">World Class Facilities</h3>
                    <p class="mb">Avada University is devoted to excellence in teaching, learning,research, and developing leaders in many disciplines who make a different globally.</p>
                    <div class="reference flex">
                        <i class="fas fa-globe"></i>
                        <span>International focus </span>
                        <p> - our students come from across the globe</p>
                    </div>
                    <div class="reference flex mt">
                        <i class="fas fa-graduation-cap"></i>
                        <span>Residential courses </span>
                        <p> - we encurage learning and growth</p>
                    </div>
                    <div class="reference flex">
                        <i class="far fa-id-badge"></i>
                        <span>People not profits </span>
                        <p> - educations is a right not a privilege</p>
                    </div>
                    <p class="mt">
                        If you prefer to study in your own time at your own speed then one of our e-learning packages may be right up your street.
                    </p>
                </div>
                <div class="values">
                    <h3 class="tu mb">Our Values</h3>
                    <ul>
                        <li>
                            <i class="fas fa-plus mr"></i>
                            <span class="tu">Our Mission</span>
                        </li>
                        <li>
                            <i class="fas fa-plus mr"></i>
                            <span class="tu">Our Philosophy</span>
                        </li>
                        <li>
                            <i class="fas fa-plus mr"></i>
                            <span class="tu">Our Committment</span>
                        </li>
                        <li>
                            <i class="fas fa-plus mr"></i>
                            <span class="tu">Our Promise</span>
                        </li>
                        <li>
                            <i class="fas fa-plus mr"></i>
                            <span class="tu">Our Values</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pseudo-elemento">

            </div>
        </section>
        <!-- fourth-section -->
        <section class="fourth-section flex">
            <div class="first-image">
                <h3 class="white tu mb">Courses</h3>
                <h5 class="white mt">View more</h5>
            </div>
            <div class="second-image">
                <h3 class="white tu mb">Events</h3>
                <h5 class="white mt">View more</h5>
            </div>
            <div class="third-image">
                <h3 class="white tu mb">Latest News</h3>
                <h5 class="white mt">View more</h5>
            </div>
        </section>
        <!-- fifth section -->
        <section class="fifth-section">
            <div class="range">
                <div class="logo-small">
                    <img src="./img/page-logo-1.png" alt="">
                </div>
                <h2>Todays University News</h2>
                <p>Covering topics from classes to politics and student organizations events</p>
            </div>
            <div class="blocchi flex container-small">
                <div class="first-block mrb">
                    <div class="image">

                    </div>
                    <h3 class="mt orange">What do succesful grads think you should study?</h3>
                    <div class="text mt">
                        by <a class="orange td" href="#">admin</a>| March 16th,2016
                    </div>
                    <div class="read flex">
                        <div class="orange mt">
                            Read More <i class="fas fa-angle-right"></i>
                        </div>
                        <div>
                            <i class="fas fa-book-reader orange mt"> 0</i>
                        </div>
                    </div>
                </div>
                <div class="second-block mrb">
                    <div class="image">

                    </div>
                    <h3 class="mt orange">What do succesful grads think you should study?</h3>
                    <div class="text mt">
                        by <a class="orange td" href="#">admin</a>| March 16th,2016
                    </div>
                    <div class="read flex">
                        <div class="orange mt">
                            Read More <i class="fas fa-angle-right"></i>
                        </div>
                        <div>
                            <i class="fas fa-book-reader orange mt"> 0</i>
                        </div>
                    </div>
                </div>
                <div class="third-block">
                    <div class="image">

                    </div>
                    <h3 class="mt orange">What do succesful grads think you should study?</h3>
                    <div class="text mt">
                        by <a class="orange td" href="#">admin</a>| March 16th,2016
                    </div>
                    <div class="read flex">
                        <div class="orange mt">
                            Read More <i class="fas fa-angle-right"></i>
                        </div>
                        <div>
                            <i class="fas fa-book-reader orange mt"> 0</i>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
        <!-- sixth section -->
        <section class="sixth-section">
            <div class="container-small">
                <h2 class="white">Joing over <span class="orange">500,000 Students</span> Enjoying Avada Education now</h2>
                <h4>Become Part Of Avada University To Fourther Your Career</h4>
                <div class="addresses flex">
                    <div class="name white">Name</div>
                    <div class="email white">Email</div>
                    <div class="telephone white">Telephone</div>
                    <button class="apply white tu"> Apply Now</button>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <div class="info">
            <h4 class="tu">Avada University</h4>
            <ul>
                <li class="flex">
                    <i class="fas fa-house-damage"></i>
                    <div class="address flex mll">
                        <span>Residential Location</span>
                        <span>9521 Broadsbarry Avenue</span>
                        <span>Paddington RC7 9ZA</span>
                    </div>
                </li>
                <li>
                    <i class="fas fa-phone"></i>
                    <span class="mll">1.800.458.186</span>
                </li>
                <li>
                    <i class="far fa-envelope"></i>
                    <span class="mll dark">info@your-domain.com</span>
                </li>
                <li>
                    <i class="far fa-clock"></i>
                    <span class="mll">Monday - Friday 8.00 AM - 10.00 PM</span>
                </li>
            </ul>
        </div>
        <div class="recent-post">
            <h4 class="tu">Recent Post</h4>
            <ul>
                <li class="flex">
                    <i class="fas fa-angle-right"></i>
                    <div class="mll">
                        <p class="mb">What do succesful grads think you should study?</p>
                        <span class="mb">March 16, 2016</span>
                    </div>
                </li>
                <li class="flex">
                    <i class="fas fa-angle-right"></i>
                    <div class="mll">
                        <p class="mb">Former student discusses success in the fashion industry?</p>
                        <span class="mb">March 15, 2016</span>
                    </div>
                </li>
                <li class="flex">
                    <i class="fas fa-angle-right"></i>
                    <div class="mll">
                        <p class="mb">How do you best prepare for university?</p>
                        <span class="mb">March 15, 2016</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="poker-info flex">
            <div class="poker-info-left">
                <div class="courses mb">
                    <h4 class="tu">Courses</h4>
                    <ul>
                        <li v-For="(course, i) in coursesList">
                            <a class="dark" href="#">{{ course.item }}</a>
                        </li>
                    </ul>
                </div>
                <div class="admissions">
                    <h4 class="tu">Admissions</h4>
                    <ul>
                        <li v-For="(admission, i) in admissionsList">
                            <a class="dark" href="#">{{ admission.item }}</a>
                        </li>
                    </ul>
                </div>  
            </div>
            <div class="poker-info-right ml">
                <div class="resources mb">
                    <h4 class="tu">Resources</h4>
                    <ul>
                        <li v-For="(resource, i) in resourcesList">
                            <a class="dark" href="#">{{ resource.item }}</a>
                        </li>
                    </ul>
                </div>
                <div class="quicklinks">
                    <h4 class="tu">Quicklinks</h4>
                    <ul>
                        <li v-For="(quicklink, i) in quicklinksList">
                            <a class="dark" href="#">{{ quicklink.item }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="events">
            <h4 class="tu">Upcoming Events</h4>
            <div class="upcoming flex mb">
                <i class="far fa-calendar-alt mr fs orange"></i>
                <div>
                    <h4>Business Seminar</h4>
                    <span>July 1, 2019@8:00 am- July 1,2021@5:00pm</span>
                    <div>United States</div>
                </div>
            </div>
            <div>
                <div class="politics flex">
                    <i class="far fa-calendar-alt mr fs orange"></i>
                    <div>
                        <h4>Politics Seminar</h4>
                        <span>July 1, 2019@8:00 am- July 1,2021@5:00pm</span>
                        <div>United Kingdom</div>
                    </div>
                </div>
            </div>
            <p class="mt">View more...</p>
        </div>
    </footer>
    <div class="footer-bottom">
        <div class="rights">
            <ul class="flex">
                <li>
                    <i class="far fa-copyright"></i>
                    <span>Theme Fusion</span> 
                </li>
                <li>|</li>
                <li>
                    <span>All Right Reserved</span>
                </li>
                <li>|</li>
                <li>
                    <span>Powered by Wordpress</span>
                </li>
                <li>|</li>
                <li>
                    <span>Support@theme-fusion.com</span>
                </li>
                <li>|</li>
                <li>
                    <span>1.800.555.6789</span>
                </li>
            </ul>
        </div>
        <div class="web">
            <ul class="flex">
                <li v-for="(web, i) in webList">
                    <a href="#">
                        <i :class="`fab ${web.icon} `"></i>   
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div> <!-- chiusura app -->
    

    
    <!-- inclusione js -->
    <script src="./js/main.js"></script>
</body>
</html>